{% extends 'global/tabbed-project/search.html' %}


{% block search_form %}
{% if request.GET.flow %}
<div class="alert alert-secondary" role="alert">
  You can view the status of your running flows in the
  <a href="https://app.globus.org/runs?flow={{request.GET.flow}}" target="_blank"
  >Globus Webapp</a>
</div>
{% endif %}


<form id="search-form" class="my-4" name="search_form"
      action="{% block search_form_url %}{{ request.get_full_path }}{% endblock %}">
  <input type="text" id="search-input" autocomplete="off"
         data-provide="typeahead" name="q"
         value="{{request.session.search.query}}" placeholder="Start your search here">
  <button id="search-btn" type="submit" class="btn btn-default">
    <i class="fas fa-search"></i>
  </button>
</form>
{% endblock %}


{% block user_not_logged_in_section %}
{% endblock %}

{% block search_pagination_link %}
<a class="page-link" onclick="console.log({{page.number}}); customSearch({{page.number}});">{{page.number}}</a>
{% endblock %}