{% extends 'concierge-app/components/manifests-detail.html' %}

{% block manifests_detail_transfer %}
{% include 'xpcs/concierge-app/components/manifests-detail-transfer-download.html' %}
{% endblock %}

{% block manifests_detail_download %}
  <div id="collapse-main-reprocess-{{concierge_manifest.id}}" class="collapse" aria-labelledby="heading-main-description-{{concierge_bag.id}}" data-parent="#accordion-main">
      {% include 'xpcs/concierge-app/components/manifests-detail-reprocess.html'  %}
  </div>
{% endblock %}