{% load index_template %}
<div id="collapse-main-transfer-{{concierge_manifest.id}}"
     class="collapse
     {% if select_manifest == concierge_manifest.id %}
     show
     {% endif %}"
     aria-labelledby="heading-main-description-{{concierge_manifest.id}}" data-parent="#accordion-main">
  <div class="card-body">
    {% index_template 'concierge-app/components/manifests-detail-transfer-form.html' as manifests_detail_transfer_form %}
    {% include manifests_detail_transfer_form %}

    <hr>
    <h3 class="card-text">Download</h3>
    {% if concierge_manifest.metadata.location %}
    BDBag:
    <a href="{{concierge_manifest.metadata.location}}" class="btn btn-primary">
    <i class="fas fa-shopping-manifest" style="font-size: 18px;"></i><span class="pl-1">Download</span>
    </a>
    {% else %}
    <p>No Downloads available</p>
    {% endif %}
    <hr>
    <a target="blank" href="https://pypi.org/project/bdmanifest/">Install the BDBag toolset</a>
    and run through the
    <a target="blank" href="https://github.com/fair-research/bdmanifest/blob/master/doc/config.md#keychainjson">setup for Globus</a>
    to use the BDBag file above. <br>
    Usage will look like: <br>
    <div class="container">
        <code>
          wget https://my-manifest-url/mymanifest.zip <br>
          bdmanifest mymanifest.zip <br>
          bdmanifest --resolve-fetch all mymanifest <br>
        </code>
    </div>
  </div>
</div>