<nav class="manifest-nav navbar">
  <p class="manifest-nav navbar-brand">
    {{concierge_manifest.metadata.name|default:concierge_manifest.date_created}}
  </p>
  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item mx-1">
      <button class="btn btn-primary nav-link active" data-toggle="collapse" data-target="#collapse-main-description-{{concierge_manifest.id}}" aria-expanded="true" aria-controls="collapse-main-description-{{concierge_manifest.id}}">
        <i class="fas fa-info-circle"></i><span class="pl-2">Info</span>
      </button>
    </li>
    <li class="nav-item mx-1">
      <button class="btn btn-primary nav-link active" data-toggle="collapse" data-target="#collapse-main-transfer-{{concierge_manifest.id}}" aria-expanded="true" aria-controls="collapse-main-transfer-{{concierge_manifest.id}}">
        <i class="fas fa-exchange-alt"></i><span class="pl-2">Transfer</span>
      </button>
    </li>
    <li class="nav-item mx-1">
      <button class="btn btn-primary nav-link active" data-toggle="collapse" data-target="#collapse-main-reprocess-{{concierge_manifest.id}}" aria-expanded="true" aria-controls="collapse-main-reprocess-{{concierge_manifest.id}}">
        <i class="fas fa-microchip"></i><span class="pl-2">Reprocess</span>
      </button>
    </li>
    <li class="nav-item mx-1">
      <button class="btn btn-danger nav-link active" data-toggle="collapse" data-target="#collapse-main-delete-{{concierge_manifest.id}}" aria-expanded="true" aria-controls="collapse-main-delete-{{concierge_manifest.id}}">
        <i class="fas fa-trash-alt"></i><span class="pl-2">Delete</span>
      </button>
    </li>
    {% block extra_nav_items %}
    {% endblock %}
  </ul>
</nav>