{% extends 'global/tabbed-project/automate_app/action_detail.html' %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a class="h5" href="/">Globus Portal Framework</a></li>
<li class="breadcrumb-item"><a class="h5" href="{% url 'xpcs-index:automate-dashboard' globus_portal_framework.index %}">XPCS Automate</a></li>
<li class="breadcrumb-item"><a class="h5" href="{% url 'xpcs-index:automate-action-detail' globus_portal_framework.index object.id %}">{{object.flow.title}}</a></li>
{% endblock %}

{% block detail_back_url %}
<a href="{% url 'xpcs-index:automate-dashboard' globus_portal_framework.index %}">Back to Dashboard</a>
{% endblock %}

{% block title %}
<h3 class="text-center mb-3 h3">{{object.flow.title}} -- {{reprocessing_task.bag.search_collection.name}}</h3>
{% endblock %}

{% block action_table_detail %}
{{block.super}}
<tr>
  <td>Bag</td>
  <td><a href="{% url 'concierge-app:manifest-list' globus_portal_framework.index reprocessing_task.manifest.id %}">{{reprocessing_task.bag.search_collection.name}}</a></td>
</tr>
{% endblock %}