{% extends 'global/tabbed-project/automate_app/dashboard.html' %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a class="h5" href="{% url 'index-selection' %}">{{globus_portal_framework.project_title}}</a></li>
<li class="breadcrumb-item"><a class="h5" href="{% url 'tp-landing-page' index=globus_portal_framework.index %}">{{globus_portal_framework.index_data.name}}</a></li>
<li class="breadcrumb-item"><a class="h5" href="{% url 'xpcs-index:automate-dashboard' globus_portal_framework.index %}">{{project_info.title}} Automate</a></li>
{% endblock %}


{% block action_list %}
{% with actions as object_list %}
{% include 'xpcs/automate_app/action_list.html' %}
{% endwith %}
{% endblock %}