<nav>
    <ul class="nav nav-tabs nav-search-nav navbar-expand-lg">
      <li class="ml-5 nav-item">
        <a class="nav-link nav-link-search-nav h5" href="{% url 'search-about' globus_portal_framework.index %}">About {{project_title}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-search-nav h5" href="{% url 'search' globus_portal_framework.index %}">Search</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link nav-link-search-nav h5" href="{% url 'xpcs-index:compute-transfer' globus_portal_framework.index %}?collection=74defd5b-5f61-42fc-bcc4-834c9f376a4f&path=/XPCSDATA/2019-1/comm201901/">Compute</a>
      </li> -->
    </ul>
  </nav>